<div class="admin-head d-flex vh-100 h-100">
  <div class="sidebar d-none d-lg-block">
    <img
      class="p-3"
      src="/images/admin-logobg.jpg"
      style="height: 5rem;width:15rem ;"
      alt="Admin-Logo"
    />
    <div class="sidebar-menu p-4 vh-100">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/home"><h5><span><i
                  class="fa-solid fa-house pe-3"
                ></i></span>
              Dashboard</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/categories"><h5
            ><span><i class="fa-solid fa-lock pe-3"></i></span>
              Categories</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/orders"><h5><span><i
                  class="fa-solid fa-lock pe-3"
                ></i></span>
              Orders</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/products"><h5
            ><span><i class="fa-solid fa-lock pe-3"></i></span>
              Products</h5></a>
        </li>
        <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/coupons">
                  <h5><span><i class="fa-solid fa-lock pe-3"></i></span>
                    Coupons</h5></a>
              </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/users"><h5><span><i
                  class="fa-solid fa-user pe-3"
                ></i></span>
              Users</h5></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="rightside flex-column">
    <div class="admin-navbar">
      <nav class="navbar navbar-right navbar-expand-lg d-none d-lg-block">
        <div class="container-fluid d-flex justify-content-between">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse text-center"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ms-auto align-items-center mb-2 mb-lg-0">
              <li class="nav-item">
                <form class="container-fluid my-auto">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="basic-addon1"
                    />
                    <a href=""><span
                        class="input-group-text"
                        id="basic-addon1"
                      ><i
                          class="fa text-secondary fa-magnifying-glass"
                        ></i></span></a>
                  </div>
                </form>

              </li>
            </ul>
            <div class="my-auto ms-auto" role="search">
              <a href="/admin/logout" type="submit"><button
                  class="user-btn"
                >Logout</button></a>
            </div>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-right navbar-expand-lg d-block d-lg-none">
        <div class="container-fluid d-flex justify-content-between">
          <a class="navbar-brand" href="#"><img
              src="/images/admin-logobg.jpg"
              alt="Logo"
              style="width:200px;height:50px;"
            /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ms-auto align-items-center mb-2 mb-lg-0">
              <li class="nav-item">
                <form class="container-fluid my-auto">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      aria-label="Search"
                      aria-describedby="basic-addon1"
                    />
                    <a href=""><span
                        class="input-group-text"
                        id="basic-addon1"
                      ><i
                          class="fa text-secondary fa-magnifying-glass"
                        ></i></span></a>
                  </div>
                </form>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/home"><h5><span><i
                        class="fa-solid fa-house pe-3"
                      ></i></span>
                    Dashboard</h5></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="/admin/categories"
                ><h5><span><i class="fa-solid fa-lock pe-3"></i></span>
                    Categories</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/orders"><h5><span><i
                        class="fa-solid fa-lock pe-3"
                      ></i></span>
                    Orders</h5></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="/admin/products"
                ><h5><span><i class="fa-solid fa-lock pe-3"></i></span>
                    Products</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/coupons">
                  <h5><span><i class="fa-solid fa-lock pe-3"></i></span>
                    Coupons</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/users"><h5><span><i
                  class="fa-solid fa-user pe-3"
                  ></i></span>
                Users</h5></a>
        </li>
            </ul>
            <div class="my-auto text-center" role="search">
              <a href="/logout" type="submit"><button
                  class="user-btn"
                >Signout</button></a>
            </div>
          </div>  
        </div>
      </nav>
    </div>
    <div class="content">
      {{{body}}}
    </div>
  </div>
</div>