<div class="footer" style="background-color: #377780;">
    <div class="container justify-content-center">
        <div class="footer-logo text-center pt-3">
            <img src="/images/logo.jpg" alt="Logo" style="width: 14rem;height:6rem">
        </div>
        <div class="footer-list pb-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 justify-content-center">
                    <div class=" footer-routes justify-content-center d-flex mt-4">
                        <div class=" nav-link me-3">
                            <a href="/"><span class="fw-semibold">HOME</span></a>
                        </div>
                        <div class=" nav-link me-3">
                            <a href=""><span class="fw-semibold">JOBS</span></a>
                        </div>
                        <div class=" nav-link me-3">
                            <a href=""><span class="fw-semibold">ABOUT</span></a>
                        </div>
                        <div class=" nav-link me-3">
                            <a href=""><span class="fw-semibold">BLOG</span></a>
                        </div>
                        <div class=" nav-link me-3">
                            <a href=""><span class="fw-semibold">LISTING</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 mt-4 mb-3 d-flex justify-content-center">
                    <div class="nav-link me-3">
                        <a  href=""><i class="fa-brands fa-lg fa-facebook"></i></a>
                    </div>
                    <div class="nav-link me-3">
                        <a href=""><i class="fa-brands fa-lg fa-instagram"></i></a>
                    </div>
                    <div class="nav-link me-3">
                        <a href=""><i class="fa-brands fa-lg fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>