<div class=" header d-none d-lg-block">
  <div class="d-flex justify-content-between">
    <p class="text-secondary ps-5">Become a vendor</p>
    <p class="violet">Book your dream electric vehicle now & Get it in your
      porch</p>
    <div class="d-flex pe-4">
      <p class="text-secondary px-3"><span><i
            class="fa-solid fa-envelope"
          ></i></span>
        Email</p>
      <p class="text-secondary px-3"><span><i
            class="fa-solid fa-phone"
          ></i></span>
        Call us</p>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand ms-3" href="/"><img
        src="/images/logo.jpg"
        alt="Logo"
        style="width:150px;height:60px;"
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="container-fluid my-auto">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="basic-addon1"
              />
              <a href=""><span class="input-group-text" id="basic-addon1"><i class="fa text-secondary fa-magnifying-glass"></i></span></a>
            </div>
          </form>

        </li>
      </ul>
      <div class="my-auto ms-auto" role="search">
        <a href="/login" type="submit"><button class="user-btn">Sign in</button></a>
        <a href="/register" type="submit"><button class="user-btn">Register</button></a>
      </div>
    </div>
  </div>
</nav>